version: "3.9"

services:
  app_proxy:
    environment:
      APP_HOST: tm-meshtasticd_app_1
      APP_PORT: 4403
      PROXY_AUTH_ADD: "false"

  app:
    image: meshtastic/meshtasticd:latest
    restart: unless-stopped
    volumes:
      - ${APP_DATA_DIR}/config:/config
      - ${APP_DATA_DIR}/data:/data
    privileged: true
    command: >
  sh -c '
  if ! grep -q "^MACAddress" /config/config.yaml 2>/dev/null && \
     ! grep -q "^MACAddressSource" /config/config.yaml 2>/dev/null; then
    cat <<EOF > /config/config.yaml
MACAddressSource: "random"
EOF
  fi;
  exec meshtasticd --config=/config/config.yaml
  '
