version: "3.9"

services:
  app_proxy:
    environment:
      APP_HOST: tm-meshtasticd_app_1
      APP_PORT: 4403
      PROXY_AUTH_ADD: "false"

  app:
    image: meshtastic/meshtasticd:latest
    restart: unless-stopped
    volumes:
      - ${APP_DATA_DIR}/config:/config
      - ${APP_DATA_DIR}/data:/data
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
    privileged: true
